<div class="cart-item">
  <div class="cart-item__details">
    <img class="cart-item__img" src="{{item.item.img}}">
    <div class="cart-item__info">
      <span class="cart-item__name">{{item.item.name}}</span>
    </div>
    <div class="cart-item__price">
      $ <span class="cart-item__price-amount">{{item.item.price}}</span>
    </div>
    <div class="cart-item__quantity">
      <input class="input cart-item__amount-input" type="number" value="{{item.amount}}"
             (input)="onAmountChange($event.target.value, item)">
    </div>
    <div class="cart-item__actions">
      <button class="cart-item__remove-btn" (click)="removeItem()">
        <i class="fas fa-times-circle"></i>
      </button>
    </div>

  </div>
</div>